.container-addnewcust {
    flex: 1;
    height: calc(100vh - 105px);
    overflow: auto;
    position: absolute;
    top: 50px;
    width: 100%;
}

.wrapper-button-addnewcustomer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    background-color: #ffffff;
    height: 50px;
    width: 100%;
    margin-bottom: 1px;
}

.addnewcustomer-button {
    padding: 0 12px;
}

.addnewcustomer-feild {
    background-color: #fff;
    padding-bottom: 10px;
}
input.input-input-common-component {
    height: 100px;
}