.btn-add-new {
    position:fixed;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16) !important;
    background-color: #58ba47;
    bottom:130px;
    right:15px;
    color:#FFF;
    text-align:center;
    z-index: 3;
}

.btn-add-new-icon {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
}
@media (max-height: 500px) {
    .btn-add-new {
        display: none;
    }
}