.form-add-opt-container {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    overflow: scroll;
    -webkit-overflow-scrolling: touch; /* for smooth on ios */
    background-color: #ffffff;
}

/* input number caret */
input.expandable-form-input-field::-webkit-outer-spin-button,
input.expandable-form-input-field::-webkit-inner-spin-button {
    -webkit-appearance: caret;
}

/* Firefox */
input.expandable-form-input-field {
    -moz-appearance: caret;
}
