.wrapper-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    flex: 1;
    width: 94%;
    margin-left: calc(3vw); /* 5% viewport width */
    margin-right: calc(3vw);
    overflow-x: auto;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    top: 120px;
}
.wrapper-list > div {
    width: 100%;
}

.wrapper-list-item {
    border-top: none;
    border-bottom: 1px solid #eeeeee;
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: row;
}
.wrapper-item-row {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 50%;
    justify-content: space-around;
}

.label-item-list {
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
.link-on-list {
    text-decoration: none;
    border: none;
}
.label-item-list.item-name {
    color: #006cad;
    font-weight: bold;
}
.label-item-list.item-status {
    color: #555454;
    font-weight: 500;
    font-style: italic;
}
.label-item-list.text-bold {
    font-weight: bold;
}
.label-item-list.text-grey {
    color: #757575;
}
.wrapper-80vw-border {
    width: 94%;
    margin-left: calc(3vw);
    margin-right: calc(3vw);
}

.list-spinner {
    z-index: 999 !important;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #006cad; /* Blue */
    border-radius: 50%;
    position: fixed;
    top: calc(50vh - 24px);
    left: calc(50vw - 24px);
    width: 48px;
    height: 48px;
    animation: list-spinner 500ms linear infinite;
    -moz-animation: list-spinner 500ms linear infinite;
    -webkit-animation: list-spinner 500ms linear infinite;
    -o-animation:  list-spinner 500ms linear infinite;

}

@keyframes list-spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}