.customer-details-container-infor {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    align-items: center;
    padding: 15px 0;
  }
  
  .customer-details-wrapper-infor {
    display: flex;
    flex-direction: column;
    padding: 10 15px;
  }
  
  .customer-details-informations-name {
    font-size: 18px;
  }
  
  .customer-details-informations-phone {
    font-size: 13px;
  }
  
  .icon-customer-details {
    font-size: 27px;
    padding: 0 15px;
  }
  
  .tabs {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
  }
  .tab {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: #70aaf8;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  
  .tab-active {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: #0d65dd;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    opacity: 1
  }
  
  .label-tab-name {
    color: #ffffff;
  }
  
  .cust-details-related-wrapper {
      padding: 15px;
      background-color: #ffffff;
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  
  .cust-details-related-icon {
      font-size: 25px;
      padding-right: 10px;
  }
  
  .cust-details-related-label {
      font-size: 15px;
  }
  
  .customer-details-feild {
    background-color: #ffffff;
  }