/* The Modal (background) */
.modal-popup {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-popup {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.modal-close-popup {
  float: right;
  font-size: 24px;
  font-weight: bold;
  margin-top: -8px;
}

.modal-close-popup:hover,
.modal-close-popup:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header-popup {
  padding: 10px;
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body-popup {
  padding: 10px;
  background-color: #ffffff;
}

.modal-footer-popup {
  padding: 15px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.modal-header-title {
  font-size: 18px;
}

.btn-login-forgetPass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.btn-forgetPass {
  padding-top: 10px;
}

/*input[type="text"] {*/
/*  font-size: inherit;*/
/*}*/

.login-header-logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.responsive-image-logo {
  width: 100%;
  height: auto;
  padding: 20px;
}

.kv-btn-login {
  min-width: 100px;
}

.modal-body-popup-input {
  padding-top: 10px;
}