/* The Modal (background) */
.modal-popup {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-popup {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.modal-close-popup {
  float: right;
  font-size: 24px;
  font-weight: bold;
  margin-top: -8px;
}

.modal-close-popup:hover,
.modal-close-popup:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header-popup {
  padding: 10px;
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body-popup {
  padding: 10px;
  background-color: #ffffff;
}

.modal-footer-popup {
  padding: 15px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.modal-header-title {
  font-size: 18px;
}

.btn-login-forgetPass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.btn-forgetPass {
  padding-top: 10px;
  color: #ffffff;
}

/*input[type="text"] {*/
/*  font-size: inherit;*/
/*}*/

.login-wrapper {
  width: 100%;
  height: 100%;
}

.login-header-logo-wrapper {
  margin: 15% auto 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  /*opacity: 0.9;*/
  background-color: var(--white);
}

.login-header-app-name {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-family: Roboto;
  font-size: 26px;
  margin: 10px auto 0 auto;
  width: 100%;
  text-align: center;
}

.login-header-logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.responsive-image-logo {
  width: 100%;
  height: 100%;
}

.kv-btn-login {
  min-width: 100px;
}

.modal-body-popup-input {
  padding-top: 10px;
}

.form-login {
  width: 100%;
}

.form-login-input-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  margin: 5px auto 5px auto;
  justify-content: center;
  align-items: center;
}
.input-icon {
  height: 100%;
  flex: 0.5;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 0 auto;
  border: 1px solid #ffffff;
  padding: 3px 0 0 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  line-height: 50px;
  vertical-align: middle;
}
.form-login-input {
  width: 100px;
  height: 100%;
  flex: 2;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0 5px 5px 0;
  text-indent: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-login-input::placeholder {
  color: #a5a5a5;
  font-family: Roboto;
  text-align: left;
}
.btn-login {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #07bc0c;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.btn-login:focus {
  outline: none;
}
.btn-forgot-password {
  margin-top: 5px;
  width: 100%;
  height: 60px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  text-align: right;
  font-family: Roboto;
}